 /*Inicio Rodapé */
 .rodape{
    background: #344149;
    color: white;
    text-align: center;
}
.rodape__titulo__principal{
    padding-top: 30px;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: bold;
}
.rodape__titulo__sub-titulo{
    color: gray;
}
.rodape__lista{
    padding: 10px 0 30px 0;
    box-sizing: border-box;
}
.rodape__lista li{
    padding-top: 5px;
    box-sizing: border-box;
}
/* Fim rodapé */

/*Inicio do Tablet*/
@media(min-width: 768px){
    .rodape{
        display: flex;
        height: 150px;
        align-items: center;
    }
    .rodape__titulo__principal{
        height: 80%;
        padding-left: 10px;
        box-sizing: border-box;
    }
    .rodape__titulo__principal , .rodape__titulo__sub-titulo{
        align-items: left;   
    }
    .rodape__titulo__sub-titulo{
        padding-bottom: 30px;
        box-sizing: border-box;
        height: 20%;
    }
    .rodape__lista{
        display: flex;
        flex-direction: row;
    }
    .rodape__lista li{
        padding-left: 10px;
        box-sizing: border-box;
    }
}
/*Fim do Tablet*/

/*Inicio do Desktop*/
@media(min-width: 992px){
    
}
/*Fim do Desktop*/