
/* MOBILE */
.social-publishing{
    display: inline-block;
    font-family: Helvetica, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #f9f9f9;
}

strong{
    color:blue;
}

.social-publishing--article{
    text-align: justify;
    padding: 10px;
    box-sizing: border-box;
}
.social-publishing--title{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-publishing--text{
    margin-bottom: 10px;
}
.imagem-responsiva{
    display: inline-block;
    width: 50%;
    
}

.imagem-responsiva__mobile{
width: 100%;
margin-left: 80%;
}
.imagem-responsiva__tablet{
display: none;
}
.imagem-responsiva__desktop{
display: none;
}

/* FIM DO MOBILE */
